@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-size: 16px;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}

.cuadricula {
  width: 79%;
  background: url(../img/printable-grid-graph-paper-20x20_405100.png);
  background-position: center;
  background-size: cover;
}

.columnaColores {
  width: 19%;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerColores {
  width: 95%;
  height: auto;
}

.columnaAcciones {
  width: 19%;
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colorRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0.2em 0;
}
.coloresSeleccion {
  border: 1px solid black;
  width: 2.7em;
  height: 2.7em;
}
