@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-size: 16px;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.columnaColores {
    position: relative;
    width: 19%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.containerUserInput {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerUserInput>* {
    width: 80%;
    color: aliceblue;
}

.containerColores {
    width: 95%;
    height: auto;
}

.columnaAcciones {
    width: 19%;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.containerBotones {
    margin: 0.5em 0;
    width: 90%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerBotones button {
    margin: 0.5em 0;
    padding: 0.5em;
    width: 100%;
}

.containerEstadisticas {
    width: 90%;
    border: 1px solid red;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.papeleraContainer {
    max-width: 70%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: aqua;
}

.papelera {
    position: relative;
    display: inline-flex;
    flex-direction: column;
}

.tapa {
    height: 20%;
}

.contenedor {
    height: 80%;
}

img {
    height: 98%;
    width: 95%;
}

.papelera #tapa:hover {
    background-color: red;
    transform: rotate(45deg);
    transform-origin: bottom right;
    transition: 1s;
}

.colorRow {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0.2em 0;
}

.coloresSeleccion {
    border: 1px solid black;
    width: 2em;
    height: 2em;
}

#cuadricula {
    width: 100%;
    max-height: 100vh;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.estiloCuadrado {
    display: flex;
    flex-wrap: wrap;
}

.estiloCuadrado:hover {
    background-color: blue;
}

.cuadradosInteriores {
    width: 50%;
    height: 50%;
    border: 0.5px solid rgb(253, 227, 227);
}

.cuadradosInteriores:hover {
    background-color: red;
}


/* @media (min-width: 768px) {
  .cuadricula {
    width: 79%;
    background: url(../img/printable-grid-graph-paper-20x20_405100.png);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
  }
} */

.rojo01 {
    background-color: green;
}