@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-size: 16px;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}

.columnaColores {
  position: relative;
  width: 19%;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /* From https://css.glass */
  background: rgba(86, 187, 206, 0.26);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(86, 187, 206, 0.3);
}

.containerUserInput {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containerUserInput > * {
  width: 80%;
  height: 90%;
  color: aliceblue;
}

.containerColores {
  width: 95%;
  height: auto;
}

.colorRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0.2em 0;
}

.coloresSeleccion {
  border: 1px solid black;
  width: 1em;
  height: 1em;
  cursor: grab;
}

#cuadricula {
  width: 100%;
  max-height: 100vh;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.estiloCuadrado {
  display: flex;
  flex-wrap: wrap;
}

/* .estiloCuadrado:hover {
  border: 0.5px solid rgb(175, 180, 245);
} */

.cuadradosInteriores {
  width: 50%;
  height: 50%;
  border: 0.1px solid rgb(225, 226, 238);
}

.cuadradosInteriores:hover {
  border: 2px solid red;
}

.borrar {
  background-color: white;
}

/* https://getcssscan.com/css-buttons-examples */

.button-54 {
  /* background-color: beige; */
  margin: 5% 0;
  width: 90%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.luz {
  background-color: white;
}

.noche {
  background-color: #000;
}
